*{
    padding:0;
    margin:0;    
}
.main-container{
    display:grid;
    width:100%;
    
}
.grid-logo{
    min-height: 50px;
    background-color: maroon;
    text-align: center;
    line-height: 50px;
}
.grid-menu{
    min-height: 150px;
    background-color:black;
    line-height: 30px;
    text-align: center;
}
.grid-menu > ul {
    list-style-type: none;

}
.grid-section{
    min-height: 500px;
    background-color:aliceblue;
    background-image: url("../images/image1.jpg");
    background-size: contain;
    background-repeat:no-repeat;
    text-align:center;
    font-size:1.5em;
    color: rgb(193, 235, 79);
}
.grid-section-others{
    min-height: 500px;
    background-color:aliceblue;
    text-align:center;
    font-size:1.5em;
    color: rgb(193, 235, 79);
}
.grid-sidebar{
    min-height: 50px;
    background-color:aliceblue;
    background-image: url(../images/colorednotes.jpg);
}
.grid-footer{
    min-height: 50px;
    background-color:black;
    color: rgb(78, 29, 29);
    
}
.signup-div{
    display: inline-block;
    margin-top:70px;
    text-align: right;
    color: black;


}
.newlist{
    display: inline-block;
    margin-top:70px;
    text-align: right;
    color: black;
}
.signupform{
    display: table;
    font-size: 0.7em;
    line-height: 30px;
}
.profile-picture{
    display: inline-block;
    width:150px;
    height: 150px;
    border: beige;
    border-style: groove;
    text-align: center;
    background-color:grey;
    color: darksalmon;
    margin-top: 30px;
    margin-left: 30px;

}
.personal-details{
    min-width: 300px;
    font-size: 0.7em;
    text-align: left;
    margin-top: 30px;
    height: 150px;
    color:gray;
    display:inline-block;
    line-height: 30px;
}
#hzlist{
    text-align: center;
    margin-top:5px;
    margin-bottom: 5px;

}
#advert-main {
    margin-top: 200px;
}
#advert-others{
    margin-top: 70px;
}
#logo{
    color:rgb(99, 145, 175);
    font-weight: bold;
}
#pagelabel{
    text-align: center;
    color:rgb(99, 145, 175);
    margin-top:80px;
    font-size: 1.2em;
}

@media only screen and (min-width:650px){
    .main-container{
        display:grid;
        width:100%;
        grid-template-columns: repeat(4,auto);
        grid-template-rows: repeat(7, auto);
    }
    .grid-logo{
        min-height: 50px;
        background-color: maroon;
        grid-column: 1/3;
        text-align: start;
        line-height: 50px;
    }
    .grid-logo > h1 {
        margin-right: 300px;
    }
    .grid-menu{
        min-height: 50px;
        background-color: maroon;
        grid-column: 3/5;
    }
    .grid-menu > ul {
        list-style-type: none;
    
    }
    .grid-section{
        min-height: 550px;
        background-color:aliceblue;
        background-image: url("../images/image1.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        grid-column: 1/4;
        text-align:right;
        font-size:1.5em;
        color: rgb(193, 235, 79);
    }
    .grid-section-others{
        min-height: 500px;
        background-color:aliceblue;
        grid-column: 1/4;
        text-align:center;
        font-size:1.5em;
        color: rgb(193, 235, 79);
    }
    .grid-sidebar{
        min-height: 400px;
        background-color:aliceblue;
        grid-column: 4/5;
        background-color: aliceblue;
        background-image: url(../images/colorednotes.jpg);
    }
    .grid-footer{
        min-height: 100px;
        background-color:black;
        grid-column: 1/5;
        color: rgb(78, 29, 29);
        
    }
    .profile-picture{
        float: left;
        width:150px;
        height: 150px;
        border: beige;
        border-style: groove;
        text-align: center;
        background-color:grey;
        color: darksalmon;
        margin-top: 30px;
        margin-left: 30px;
    }
    #hzlist{
        float:left;
        text-align: right;
        padding:20px;
    }
    #advert-main{
        margin-top: 20px;
    }
    #pagelabel{
        text-align: center;
        color:rgb(99, 145, 175);
        margin-top:30px;
    }
    
}