*{
    padding:0;
    margin:0;    
}
.main-container{
    display:grid;
    width:100%;
    
}
.grid-logo{
    min-height: 50px;
    background-color: maroon;
    text-align: center;
    line-height: 50px;
    border-bottom-width: 5px;
    border-bottom-color: black;
}
.grid-menu{
    min-height: 150px;
    background-color:black;
    line-height: 30px;
    text-align: center;
}
.grid-menu > ul {
    list-style-type: none;


}
.grid-section{
    min-height: 500px;
    background-color:#062f4f;   
    text-align:center;
    font-size:1.5em;
    color: rgb(193, 235, 79);
}
.grid-section-others{
    min-height: 500px;
    background-color:#062f4f;
    text-align:center;
    font-size:1.5em;
    color: rgb(193, 235, 79);
}

.grid-sidebar{
    min-height: 50px;
    margin-top:20px;
    min-height: 300px;
    background-color:#062f4f;
    width:100%;
    text-align:center;
    color: rgb(193, 235, 79);
    border-right-style: groove;
    border-right-width: 5px;
    border-top-right-radius: 350px;  
}
.grid-flyer{
    margin:0px;
    padding:0px;
    min-height: 200px;
    background-color:#062f4f;
    width:100%;
    font-size:1.5em;
    color: rgb(193, 235, 79);
    background-image: url("../images/image1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
   
    
}

.grid-footer{
    min-height: 50px;
    background-color:black;
    color: rgb(78, 29, 29);
    
}
.signup-div{
    display: inline-block;
    margin-top:70px;
    text-align: right;
    color: black;


}
.newlist{
    display: inline-block;
    margin-top:70px;
    text-align: right;
    color: black;
}
.signupform{
    display: table;
    font-size: 0.7em;
    line-height: 30px;
}
.profile-picture{
    display: inline-block;
    border: beige;
    border-style: groove;
    text-align: center;
    color: darksalmon;
    margin-top: 30px;
    margin-left: 30px;
    width:170px;
    height: 200px;
    border-radius: 25px;
    background-color:#062f4f;
    color: darksalmon;
       
}
.personal-details{
    min-width: 300px;
    font-size: 0.7em;
    text-align: left;
    margin-top: 30px;
    height: 150px;
    color:gray;
    display:inline-block;
    line-height: 40px;
    
}
.list-view-div{
    display:inline-block;
    text-align: left;
    width: 280px;
    min-height: 300px;
    line-height: 50px;
    border: beige;
    border-bottom-style: groove;
    border-bottom-right-radius: 25px;
    border-right-style: groove;
    margin: 20px;
    margin-top: 40px;
}
.list-table{
    color:gray;
    
}
#hzlist{
    text-align: center;
    margin-bottom: 5px;
}
#input1 {
    border-radius:5px;
    height: 20px;
    width: 200px;
}
#input2 {
    height: 20px;
    width: 300px;
}
#button1{
    font-size:1em;
    width:100px;
    border-radius:5px;
    background-color: rgb(128, 128, 128);
    color:rgb(128, 128, 128);
}
#button2{
    font-size:0.8em;
    width:150px;
    border-radius:5px;
    background-color: rgb(128, 128, 128);
    color:black;
    opacity: 60%;
    margin-top: 20px;
}
#button3{
    font-size:0.6em;
    width:70px;
    border-radius:5px;
    background-color: rgb(128, 128, 128);
    color:black;
}
#advert-main{
    color: rgb(193, 235, 79);   
    margin-top:20px;
    
    
}
#advert-main2{
    color: rgb(193, 235, 79);   
    margin-top:20px;
    font-size: 1.3em;
    
}
#advert-main3{
    color: rgb(193, 235, 79);   
    margin-top:20px;
}
#advert-others{
    margin-top: 100px;
    font-size: 1.5em;
}
#logo1{
    color:rgb(99, 145, 175);
    font-weight: bold;
    font-size: 1.5em;
}
#logo2{
    color:rgb(99, 145, 175);
    font-size: 0.5em;
}
#pagelabel{
    text-align: center;
    color:rgb(99, 145, 175);
    margin-top:80px;
    font-size: 1.2em;
}

@media only screen and (min-width:650px){
    .main-container{
        display:grid;
        width:100%;
        grid-template-columns: repeat(4,auto);
        grid-template-rows: repeat(7, auto);
    }
    .grid-logo{
        min-height: 30px;
        background-color: black;
        grid-column: 1/3;
        text-align: start;
        line-height: 50px;
        border-bottom-width: 10px;
        border-bottom-color:maroon;
        border-bottom-style:groove;
    }
    .grid-logo > h1 {
        margin-top:5px;
        margin-right: 300px;
    }
    .grid-menu{
        min-height: 30px;
        background-color:black;
        grid-column: 3/5;
        border-bottom-width: 10px;
        border-bottom-color:maroon;
        border-bottom-style:groove;
    }
    .grid-menu > ul {
        list-style-type: none;
        display:inline;
    
    }
    .grid-section{
        min-height: 550px;
        background-color:#062f4f;
        grid-column: 1/5;
        text-align:right;
        font-size:1.5em;
        color: rgb(193, 235, 79);
       
    }
    .grid-section-others{
        min-height: 600px;
        background-color:#062f4f;
        grid-column: 1/5;
        text-align:center;
        font-size:1.5em;
        color: rgb(193, 235, 79);
    }
    .grid-flyer{
        margin:0px;
        padding:0px;
        min-height: 600px;
        background-color:#062f4f;
        width:410px;
        float:right;
        text-align:center;
        font-size:1.5em;
        color: rgb(193, 235, 79);
        background-image: url("../images/image1_portrait.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        border-top-left-radius: 250px;
        border-top-right-radius: 0px;
       
        
    }
    .grid-sidebar{
        margin-top:150px;
        min-height: 450px;
        background-color:#062f4f;
        width:862px;
        float: left;
        text-align:center;
        font-size:1.5em;
        color: rgb(193, 235, 79);
        border-right-style: groove;
        border-right-width: 5px;
        border-top-right-radius: 350px;
        
     
    }
    .grid-footer{
        min-height: 50px;
        background-color:black;
        grid-column: 1/5;
        color: rgb(78, 29, 29);
        
    }
    .profile-picture{
        float: left;
        width:170px;
        height: 200px;
        border: beige;
        border-style: groove;
        border-radius: 25px;
        text-align: center;
        background-color:#062f4f;
        color: darksalmon;
        margin-top: 30px;
        margin-left: 30px;
    }
    .list-table{
        color:gray;
        
    }
    .list-view-div{
        float:left;
        text-align: left;
        width: 280px;
        min-height: 300px;
        border: beige;
        border-bottom-style: groove;
        border-bottom-right-radius: 25px;
        border-right-style: groove;
        margin: 70px;
        margin-top: 40px;
        
    }
    #hzlist{
        float:left;
        padding:20px;
    }
    #advert-main{
        color: rgb(193, 235, 79);   
        margin-top:120px;
        
        
    }
    #advert-main2{
        color: rgb(193, 235, 79);   
        margin-top:20px;
        font-size: 1.3em;
        
    }
    #advert-main3{
        color: rgb(193, 235, 79);   
        margin-top:20px;
        
        
    }
    #pagelabel{
        text-align: center;
        color:rgb(99, 145, 175);
        margin-top:10px;
    }
    #back_to_profile{
        margin-left:20px;
    }
    
}